

.pagination-container {
	
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	
}

.pagination-text {
	
  margin: .25rem;
  padding: .5rem 1rem;
  user-select: none;
  font-weight: 400;
  text-align: center; 
  color: #212529;
  background-color: #f8f9fa;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .3rem;
  display: inline-block;
	
	
}

.pagination-text:hover {
	
  margin: .25rem;
  padding: .5rem 1rem;
  user-select: none;
  font-weight: 400;
  text-align: center;
  color: #212529;
  background-color: #e2e6ea;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .3rem;
  transition-duration: 0.4s;
  display: inline-block;
}

.pagination-container span {
	
  margin: .25rem;
  padding: .5rem 1rem;
  user-select: none;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: #343a40;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .3rem;
  display: inline-block;
}



